<p id="notice"><%= notice %></p>


<pre>

<h1>Geo IP</h1>

<table>
  <tbody>
    <tr>
      <td><b>Res Code</b></td>
      <td><%= @geoIP_Obj.code %></td>
    </tr>
    <tr>
      <td><b>IP</b></td>
      <td><%= @geoIP_Obj.ip %></td>
    </tr>
    <tr>
      <td><b>Country</b></td>
      <td><%= @geoIP_Obj.country %></td>
    </tr>
    <tr>
      <td><b>Country Code</b></td>
      <td><%= @geoIP_Obj.country_code %></td>
    </tr>
  </tbody>
</table>


</pre>